/* FONTS */
@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/commissioner-v3-latin-regular.woff2") format("woff2"),
    url("../fonts/commissioner-v3-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/commissioner-v3-latin-500.woff2") format("woff2"),
    url("../fonts/commissioner-v3-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/commissioner-v3-latin-700.woff2") format("woff2"),
    url("../fonts/commissioner-v3-latin-700.woff") format("woff");
}

/* CUSTOM PROPERTIES */
:root {
  --site-bg: #f2f2f2;
  --light-bg: rgba(47, 47, 47, 0.05);
  --grey: #7a7a7a;
  --opaque-grey: rgba(122, 122, 122, 0.05);
  --accent: #3cb3ab;
  --accent-hover: #147a73;
  --accent-hover-opaque: rgba(20, 122, 115, 0.05);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Commissioner", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--site-bg);
  color: var(--grey);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* CARD */
.card {
  padding: 48px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 24px;
  border-radius: 8px;
  background-color: #fff;
}

/* BUTTON */
.button {
  display: inline-block;
  padding: 17px 33px 19px;
  border-radius: 34px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.button:active {
  opacity: 0.7;
}

.button-wide {
  padding-left: 40px;
  padding-right: 40px;
}

.button-primary {
  background-color: var(--accent);
  color: #fff;
  transition: background-color 0.3s ease;
}

.button-primary:hover {
  background-color: var(--accent-hover);
}

.button-bookmark {
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--opaque-grey);
  color: var(--grey);
}

.button-bookmark:hover {
  background-color: var(--accent-hover-opaque);
  color: var(--accent-hover);
}

/* SITE-HEADER */
.site-header {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
}

/* SITENAV */
.sitenav {
  padding-top: 48px;
  padding-bottom: 60px;
  background: #aaa;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.0001) 100%);
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

.sitenav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo-img {
  display: block;
}

.sitenav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sitenav-item {
  margin-left: 33px;
}

.sitenav-link {
  color: #fff;
  text-decoration: none;
}

.sitenav-link:hover {
  text-decoration: underline;
}

/* PRODUCT-PAGE */
.product-page-hero-wrapper {
  display: flex;
  justify-content: center;
}

.product-page-hero {
  height: 400px;
  object-fit: cover;
}

.product-page-container {
  max-width: 770px;
  margin-top: -90px;
}

/* PRODUCT */
.product-main-card {
  position: relative;
  z-index: 1;
  padding-top: 56px;
  text-align: center;
}

.product-logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: -28px;
  transform: translateX(-50%);
}

.product-name {
  margin-top: 0;
  margin-bottom: 15px;
  color: #000;
  font-size: 28px;
  line-height: 34px;
}

.product-short-info {
  margin-top: 0;
  margin-bottom: 40px;
}

.product-main-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
